/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&dsiplay=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
}
:root{
    --main-color: #00ff55;
    --second-color: #000000;
    --gradient: linear-gradient(#000000,black, #00d71d);
    --gradient2: linear-gradient(#00d71d,#00d71d,black);
    --backg: #00d71d;
}

/* Custom Scroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;    
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--second-color);
    border-radius: 4rem;
}

section{
    padding: 50px 100px;
    background-color: var(--backg);
}

header{
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gradient);
    padding: 15px 100px;
}
 
.logo {
    width: 150px;
    height: 150px; 
    border: 2px solid #000; 
    border-radius: 50%; 
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}   

.navbar{
    display: flex;
}

.navbar li{
    position: relative;
}

.navbar a{
    font-size: 1.4rem;
    padding: 10px 20px;
    color: white !important;
    font-weight: 500;
}

.navbar a::after{
   content: "";
   width: 0;
   height: 3px;
   background: var(--main-color);
   position: absolute;
   bottom: -4px;
   left: 0;
   transition: 0.4s;
}

.navbar a:hover::after{
    width: 100%;
}

.header-btn a{
    padding: 10px 15px;
    background-color: #6e6e6e;
    border-radius: 0.5rem;
    color: white !important;
    font-weight: 500;
}

.header-btn .contact:hover{
    background-color: var(--second-color);
    color: var(--main-color)!important;
}

.heading span{
    color: var(--second-color);
    text-decoration: underline;
    font-size: 3rem!important;
    font-family: 'Times New Roman', Times, serif;
}

.heading h1{
    font-size: 2.5rem;
    letter-spacing: 2px; 
    color: var(--second-color);
}

.reviews-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.rev-img{
    width: 70px;
    height: 70px;
}

.rev-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}

.reviews-container .box{
    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
}

.reviews-container .box h2{
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.5rem 0 0.5rem;
}

.reviews-container .box p{
    font-style: italic;
}

.reviews-container .box .stars .bx{
    color: var(--second-color);
}


.copyright{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black!important;
    background: var(--gradient2);
}

.social a{
    color: white !important;
    padding: 10px;
    font-size: 21px;
}

.social a:hover{
    color: var(--second-color)!important;
}

